<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>CSS3 Hover Effects</title>
	<link rel="stylesheet" href="./common/css/vendor/normalize.css">
	<link rel="stylesheet" href="./common/css/font/font-awesome.min.css">
	<link rel="stylesheet" href="./common/css/effect.css">
</head>

<body class="white-theme">

<% var num = 1; %>
<% while (num <= 3) { %>

	<!-- Effect - 0<%= num %> //// ================================================== -->
	<section class="box effect0<%= num %>">
		<h1 class="box__heading">Hover Effects 0<%= num %></h1>
		<div class="box__body">

			<figure class="media">
				<img class="media__image" src="./common/img/img007.jpg" alt="DEMO">
				<figcaption class="media__caption">
					<div class="caption__wrapper">
						<div class="caption__inner">
							<h2 class="caption__heading">lorem ipsum</h2>
							<p class="caption__sub">Design</p>
						</div>
					</div>
				</figcaption>
				<a href="#" class="media__link"></a>
			</figure>
			<!-- /.media -->

			<figure class="media">
				<img class="media__image" src="./common/img/img008.jpg" alt="DEMO">
				<figcaption class="media__caption">
					<div class="caption__wrapper">
						<div class="caption__inner">
							<h2 class="caption__heading">Benjamin Evalent</h2>
							<p class="caption__sub">Develop</p>
						</div>
					</div>
				</figcaption>
				<a href="#" class="media__link"></a>
			</figure>
			<!-- /.media -->

			<figure class="media">
				<img class="media__image" src="./common/img/img009.jpg" alt="DEMO">
				<figcaption class="media__caption">
					<div class="caption__wrapper">
						<div class="caption__inner">
							<h2 class="caption__heading">ダミーテキスト</h2>
							<p class="caption__sub">Marketing</p>
						</div>
					</div>
				</figcaption>
				<a href="#" class="media__link"></a>
			</figure>
			<!-- /.media -->

		</div>
	</section>
	<!-- //// Effect - 0<%= num %> ================================================== -->

<% num++; %>
<% } %>

	<div id="overlay" class="overlay"></div>
	<!-- /#overlay -->

	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(window).load(function () {
			$('#overlay').delay(150).fadeOut();
		});
	</script>
</body>

</html>